bin
obj
out

publish
dist
TestResults
[Dd]ebug
[Rr]elease

.nupkg
packages
project.lock.json
project.fragment.lock.json
artifacts

.vs
.user
.suo
.userosscache
.sln.docstates

.idea
.sln.iml

.log
.tmp

.DS_Store
Thumbs.db

secrets.json
appsettings.Development.json
appsettings.Local.json
appsettings..local.json

.vspscc
.vssscc

.mdf
.ldf

wwwroot
node_modules

uploads
fotos

.dbmdl

.localhistory
